
body{
    margin: 0;
}

h1{
    color: #EEF0F2;
}

.nav li:hover{
    background-color: #aaaaaa;
}

.nav ul {
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    margin: 0;
    flex: 1 1;
}

.nav a{
    color: whitesmoke;
    width: 100%;
    display: block;
    padding: 1.15em 3%;
    text-align: center;
    text-decoration: none;

}

div.grid{
    display: grid;
    grid-template-areas:
            "header"
            "nav"
            "aside1"
            "main2"
            "footer";
}

div.header{
    grid-area: header;
    background-color: #093A3E;
    max-height: 100px;
}

div.nav{
    grid-area: nav;
    background-color: #001011;
}

div.main{
    grid-area: main;
    background-color: #DADDD8;
    padding: 5px;
    padding-left: 15px;
    display: none;
}

div.main2{
    grid-area: main2;
    background-color: #DADDD8;
    padding: 5px;
    padding-left: 15px;
}

div.aside1{
    grid-area: aside1;
    background-color: #EEF0F2;
}

div.aside2{
    grid-area: aside2;
    background-color: #EEF0F2;
    display: none;
}

div.aside3{
    grid-area: aside3;
    background-color: #EEF0F2;
    display: none;
}

div.footer{
    grid-area: footer;
    background-color: #093A3E;
    color: #EEF0F2;
    padding-left: 3px;

}


@media (min-width: 300px) {
    div.grid{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
                "header header header"
                "nav nav nav"
                "aside1 aside1 aside1"
                "main2 main2 main2"
                "aside2 aside2 aside2"
                "footer footer footer";
    }


    div.nav ul{
        flex-direction: row;
    }

    div.aside2{
        display: block;
    }

}

@media (min-width: 900px) {
    div.grid{
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
                "header header"
                "nav nav"
                "aside3 main"
                "aside3 main"
                "footer footer"
    }


    div.aside2{
        display: none;
    }

    div.aside1{
        display: none;
    }

    div.aside3{
        display: block;
        padding-left: 8px;
    }

    div.main2{
        display: none;
    }

    div.main{
        display: block;
    }
}

h2{
    color: #001011;
    font-size: 20px;
    font-family: "Avenir Next Condensed";
}

#aside{
    color: #001011;
    font-size: 16px;
}

ol li{
    font-weight: bold;
}

a:hover{
    color: black;
}

#link:hover{
    color: #4aaaa5;
}


img{
    width: 450px;
}

img.bilde2{
    width: 680px;
}

p{
    font-family: "Avenir Next Condensed";
    font-weight: 500;
}

ul li{
    font-family: "Avenir Next Condensed";
    font-weight: 500;
}

