
body{
    margin: 0;
}

.nettsider ul li{
    list-style-type: none;
}


.nettsider li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
}

.nettsider li a:hover{
    color: #0B0C10;
}

.nav li:hover{
    background-color: black;
}
.nav ul {
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    margin: 0;
    flex: 1 1;
}

.nav a{
    color: whitesmoke;
    width: 100%;
    display: block;
    padding: 1.15em 3%;
    text-align: center;
    text-decoration: none;

}

div.grid{
    display: grid;
    grid-template-areas:
            "header"
            "nav"
            "aside1"
            "main"
            "aside2"
            "footer";
}

div.header{
    padding-left: 5px;
    grid-area: header;
    background-color: #0B0C10;
}

div.nav{
    grid-area: nav;
    background-color: #1F2833;
}

div.main{
    padding-left: 5px;
    grid-area: main;
    background-color: #C5C6C7;
}

div.aside1{
    padding-left: 5px;
    grid-area: aside1;
    background-color: #C4FFF9;
}

div.aside2{
    padding-left: 5px;
    grid-area: aside2;
    background-color: #9CEAEF;
}

div.aside3{
    padding-left: 5px;
    grid-area: aside3;
    background-color: darkgrey;
    display: none;
    color: whitesmoke;
}

div.footer{
    padding-left: 5px;
    grid-area: footer;
    color: whitesmoke;
    background-color: #1F2833;
}

@media (min-width: 500px) {
    div.grid{
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas:
                "header header header"
                "nav nav nav"
                "aside1 main aside2"
                "footer footer footer";
    }

    div.aside2{
        background-color: #C4FFF9;
    }

    div.nav ul{
        flex-direction: row;
    }

}

@media (min-width: 700px) {
    div.grid{
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
                "header header"
                "nav nav"
                "aside3 main"
                "aside3 main"
                "footer footer";
    }

    div.aside2{
        display: none;

    }

    div.aside1{
        display: none;
    }

    div.aside3{
        display: block;
    }
}

.overskrift h1 a{
    text-decoration: none;
    color: whitesmoke;
}

h2{
    color: whitesmoke;
    font-size: 20px;
}

img:hover{
    width: 1000px;
    height: 1000px;
}
