
body{
    background-color: #4aaaa5;
    color: whitesmoke;
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.skjemapakker{
    max-width: 1024px;
    margin: auto;
    box-shadow: #3dccc7 10px 10px 10px;
}

.skjemainfo{
    background-color: seagreen;
    text-align: center;
    padding: 7px;
}

.skjemainfo ul{
    list-style-type: none;
    padding: 0;
}

.skjemaform{
    background-color: #aaaaaa;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.skjemaform p{
    margin: 0;
}

.skjemaform .full_bredde{
    grid-column: 1 / 3;
}

.skjemaform * {
    width: 100%;
    font-size: 20px;
}

.skjemaform button{
    background-color: #8CADA7;
    border: 0;
    height: 100px;
    padding: 10px;
}

.skjemaform button:hover{
    background-color: #3dccc7;
    cursor: pointer;
}