
body{
    background-color: #4D7298;
    color: whitesmoke;
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.skjemapakker{
    max-width: 1024px;
    margin: auto;
    padding-top: 13px;
}

.skjemainfo{
    background-color: #3C4F76;
    text-align: center;
    padding: 7px;
}

.skjemainfo ul{
    list-style-type: none;
    padding: 0;
}

.skjemaform{
    background-color: #727E87;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.skjemaform p{
    margin: 0;
}

.skjemaform .full_bredde{
    grid-column: 1 / 3;
}

.skjemaform * {
    width: 100%;
    font-size: 20px;
}

.skjemaform button{
    background-color: #3C4F76;
    color: whitesmoke;
    border: 0;
    height: 100px;
    padding: 10px;
}

.skjemaform button:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    background-color: #35404f;
}

th, td{
    padding: 10px;
}

.liste{
    padding-left: 216px;
}

div.nav{
    grid-area: nav;
    background-color: #3C4F76;
    padding: 0;
}

.nav li:hover{
    background-color: whitesmoke;
}

.nav a:hover{
    color: black;
}

.nav ul {
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li{
    margin: 0;
    flex: 1 1;
}

.nav a{
    color: whitesmoke;
    width: 100%;
    display: block;
    padding: 1.15em 3%;
    text-align: center;
    text-decoration: none;
}

.listeregister{
    padding-left: 10px;
}

.comment{
    padding-left: 614px;
}

.navnecelle{
    padding-right: 100px;
}