
body{
    background-color: #4D7298;
    color: whitesmoke;
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.skjemapakker{
    max-width: 1024px;
    margin: auto;
    padding-top: 40px;
}

.skjemainfo{
    background-color: #3C4F76;
    text-align: center;
    padding: 7px;
}

.skjemainfo ul{
    list-style-type: none;
    padding: 0;
}

.skjemaform{
    background-color: #727E87;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.skjemaform p{
    margin: 0;
}

.skjemaform .full_bredde{
    grid-column: 1 / 3;
}

.skjemaform * {
    width: 100%;
    font-size: 20px;
}

.skjemaform button{
    background-color: #3C4F76;
    color: whitesmoke;
    border: 0;
    height: 100px;
    padding: 10px;
}

.skjemaform button:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

table{
    border-collapse: collapse;
    background-color: #35404f;
}

th, td{
    padding: 10px;
}

.liste{
    padding-left: 216px;
}